header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquarine;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: white;
  position: fixed;
  }

#logo{
  display: flex;
}

nav{
  display: flex;
  display: inline-block;
}
